#### Logical Operators

In [2]:
job_work_from_home = True
job_health_insurance = True

In [3]:
job_work_from_home and job_health_insurance

True

In [4]:
job_work_from_home = True
job_health_insurance = False

In [5]:
job_work_from_home and job_health_insurance

False

In [6]:
job_health_insurance or job_work_from_home

True

In [7]:
not True

False

In [9]:
if job_work_from_home and job_health_insurance:
    print('Meets condiion')
else: 
    print('Not good')

Not good

### Membership Operators 
- in
- not in

In [10]:
'Data' in 'Data Nerd'

True

In [11]:
#case sensitive
'data' in 'Data Nerd'

False

In [12]:
job_skills = ['python', 'r', 'sql']

In [13]:
'python' in job_skills

True

In [14]:
'tableau' in job_skills

False

In [15]:
'python' not in job_skills

False

### Identity operators
- is
- is not

The is operator is verifying if two variables are using the same memory location for the value that they're holding </br>

Not very used in Data Analytics

### Bitwise operators
- & (AND)
- | (OR)
- ^ (XOR)
- ~ (NOT)
- << (Left Shift)
- '>>' (Right Shift)

### Practice

Check if the job_title1 of 'Data Engineer' is not the same object as the job_title2 of 'Data Scientist' and print the result.

In [17]:
job_title1 = 'Data Engineer'
job_title2 = 'Data Scientist'

In [19]:
print(job_title1 is not job_title2)

True

Determine if the job location 'New York' is in the list of job_locations ['New York', 'San Francisco', 'Austin'] and print the result.

In [20]:
job_locations = ['New York', 'San Francisco', 'Austin']

In [21]:
print('New York' in job_locations)

True

Check if the job_title 'Data Analyst' is not in the job_description string 'Data Scientist at Tech Corp' and print the result.

In [22]:
job_title = 'Data Analyst'
job_description = 'Data Scientist at Tech Corp'

In [23]:
print(job_title not in job_description)

True

Check if both 'Data Scientist' and 'Machine Learning Engineer' are in the list of job titles ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer'] and print the result.

In [24]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

In [25]:
print('Data Scientist' and 'Machine Learning Engineer' in job_titles)

True

Perform a bitwise OR operation on the binary representations of the salaries 100000 and 50000 and print the result. Named salary1 and salary2 respectively.

In [26]:
salary1 = 100000
salary2 = 50000

In [27]:
print(salary1 | salary2)

116720