### Loops
- for loops
- while loops

#### Importance

Crucial for automating repetitive tasks, like data processing in pandas or creating multiple plots in Matplotlib.

A for loops iterates over an iterable object

In [1]:
numbers = [0, 1, 2, 3, 4, 5]

for number in numbers:
    print(number)

0
1
2
3
4
5

In [2]:
characters = 'PYTHON'

for character in characters:
    print(character)

P
Y
T
H
O
N

In [3]:
years_experience = {
    'Luke': 3,
    'Kelly': 6,
    'Ken': 4,
    'Alex': 3
}
# we want to hire somebody with more than 5 years of experience

In [ ]:
for person in years_experience:
    print(person)

Luke
Kelly
Ken
Alex

In [7]:
for value in years_experience.values():
    print(value)

3
6
4
3

In [8]:
for key, value in years_experience.items():
    print(key, value)

Luke 3
Kelly 6
Ken 4
Alex 3

In [9]:
for key, value in years_experience.items():
    print(value)

3
6
4
3

In [11]:
for key, value in years_experience.items():
    if value >= 5:
        print(key, 'has', value, 'years experience')

Kelly has 6 years experience

A while loop repeats an action until a condition is no longer true.

In [12]:
count = 1
while count < 5:
    print(count)
    count += 1

1
2
3
4

In [14]:
# we want to find an applicant with more than 5 years of experience and stop there. we stop after the first occurence
years_experience = {
    'Luke': 3,
    'Kelly': 6,
    'Ken': 4,
    'Alex': 3,
    'Mary': 7
}

In [15]:
years = 0

years_list = list(years_experience.items())

In [16]:
years_list

[('Luke', 3), ('Kelly', 6), ('Ken', 4), ('Alex', 3), ('Mary', 7)]

In [19]:
years = 0
index = 0

years_list = list(years_experience.items())
while years < 5:
    key, years = years_list[index]
    if years >= 5:
        print(key, years)
    index += 1

Kelly 6

### Practice

Print the job titles from the list job_titles using a for loop. The list job_titles is set to ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer'].

In [21]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

for job in job_titles:
    print(job)

Data Scientist
Data Analyst
Machine Learning Engineer

Calculate the total number of job postings from a list using a while loop. The list of job postings is [5, 10, 15, 20, 25].

In [24]:
job_postings = [5, 10, 15, 20, 25]
index = 0
total_postings = 0

while index < len(job_postings):
    total_postings += job_postings[index]
    index += 1
print(total_postings)

75

Print the job titles from the list job_titles along with their index using a for loop and the enumerate() function. The list job_titles is set to ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer'].

In [29]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

for index, title in enumerate(job_titles):
    print(f'{index}: {title}')

0: Data Scientist
1: Data Analyst
2: Machine Learning Engineer

Use a while loop to find the first job title that contains the word 'Engineer'. The list of job titles is ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer'].

In [31]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']
index = 0

while index <= len(job_titles):
    if 'Engineer' in job_titles[index]:
        print(job_titles[index])
        break
    index +=1

Machine Learning Engineer

You have the following dictionary of positions_skills which is set to {'Data Scientist': ['Python', 'R'], 'Data Analyst': ['SQL', 'Excel'], 'Machine Learning Engineer': ['Python', 'TensorFlow']}. The keys are a data science position, and the values are a list of skills required for the position. Print a message for each individual skill required for these data science positions (e.g., "The role of Data Scientist requires proficiency in Python").

In [36]:
positions_skills = {
    'Data Scientist': ['Python', 'R'],
    'Data Analyst': ['SQL', 'Excel'],
    'Machine Learning Engineer': ['Python', 'TensorFlow']
}

for position, skills in positions_skills.items():
    for skill in skills:
        print(f'The role of {position}, requires proficiency in {skill}')

The role of Data Scientist, requires proficiency in Python
The role of Data Scientist, requires proficiency in R
The role of Data Analyst, requires proficiency in SQL
The role of Data Analyst, requires proficiency in Excel
The role of Machine Learning Engineer, requires proficiency in Python
The role of Machine Learning Engineer, requires proficiency in TensorFlow

You have the following dictionary:


projects_tools = {
    "Website Development": ["HTML", "CSS", "JavaScript"],
    "Data Pipeline": ["Python", "Airflow", "SQL"],
    "Mobile App": ["Flutter", "Dart"]
}
Each key is a project, and each value is a list of tools used in that project.

👉 Task:
Write Python code that prints a sentence for each individual tool used in these projects.
Format the message like this:

"The project Website Development uses the tool HTML."

In [38]:
projects_tools = {
    "Website Development": ["HTML", "CSS", "JavaScript"],
    "Data Pipeline": ["Python", "Airflow", "SQL"],
    "Mobile App": ["Flutter", "Dart"]
}

for project, tools in projects_tools.items():
    for tool in tools:
        print(f'The project {project} uses the tool {tool}')

The project Website Development uses the tool HTML
The project Website Development uses the tool CSS
The project Website Development uses the tool JavaScript
The project Data Pipeline uses the tool Python
The project Data Pipeline uses the tool Airflow
The project Data Pipeline uses the tool SQL
The project Mobile App uses the tool Flutter
The project Mobile App uses the tool Dart

1. Sum All Numbers
You have a list of numbers:

numbers = [3, 7, 12, 5, 9]

In [42]:
numbers = [3, 7, 12, 5, 9]
total = 0
for num in numbers:
    total += num
print(total)

36

2. List of Names - Greeting
You have a list of names:

names = ["Alice", "Bob", "Charlie", "Diana"]

In [43]:
names = ["Alice", "Bob", "Charlie", "Diana"]
for name in names:
    print(f'Hello {name}')

Hello Alice
Hello Bob
Hello Charlie
Hello Diana

3. Count How Many Times a Letter Appears
Given a string:

word = "programming"
👉 Write a for loop to count how many times the letter 'g' appears.

(Hint: You’ll need a counter variable that you increment.)

In [45]:
word = 'programming'
count = 0

for character in word:
    if character == 'g':
        count += 1
print(count)

2

4. Print Even Numbers Only
You have a list:

nums = [4, 13, 22, 8, 5, 16, 7]
👉 Use a for loop to print only the even numbers.

(Hint: Even numbers are divisible by 2.)

In [46]:
nums = [4, 13, 22, 8, 5, 16, 7]

for n in nums:
    if n % 2 == 0:
        print(n)

4
22
8
16

5. Nested Loop: Students and Courses
You have a dictionary:

students_courses = {
    "Emma": ["Math", "Science"],
    "Liam": ["History", "Art"],
    "Olivia": ["Biology", "Chemistry"]
}
👉 Write nested for loops to print a sentence for each course a student is taking, like:

"Emma is taking Math."

In [47]:
students_courses = {
    "Emma": ["Math", "Science"],
    "Liam": ["History", "Art"],
    "Olivia": ["Biology", "Chemistry"]
}

for student, courses in students_courses.items():
    for course in courses:
        print(f'{student} is taking {course}')

Emma is taking Math
Emma is taking Science
Liam is taking History
Liam is taking Art
Olivia is taking Biology
Olivia is taking Chemistry

🎯 New Challenge: Group the courses under each student nicely.
Instead of printing one line per course,
group the courses together for each student like this:

Emma is taking the following courses:
- Math
- Science

Liam is taking the following courses:
- History
- Art

Olivia is taking the following courses:
- Biology
- Chemistry </br>
✨ Hint:
First, print something like: "Emma is taking the following courses:"

Then, inside the second loop, print each course with a - in front.

After listing all courses for a student, print a blank line (print()) to separate students.

In [51]:
students_courses = {
    "Emma": ["Math", "Science"],
    "Liam": ["History", "Art"],
    "Olivia": ["Biology", "Chemistry"]
}

for student, courses in students_courses.items():
    print(f'{student} is taking the following courses:')
    for course in courses:
        print(f'- {course}')
    print()

Emma is taking the following courses:
- Math
- Science

Liam is taking the following courses:
- History
- Art

Olivia is taking the following courses:
- Biology
- Chemistry

6. Only Print Courses Starting With "C"
Use the same students_courses dictionary:


students_courses = {
    "Emma": ["Math", "Science"],
    "Liam": ["History", "Art"],
    "Olivia": ["Biology", "Chemistry"]
}
👉 Print only the courses that start with the letter "C" for each student.
Example output:


Olivia is taking Chemistry
(Hint: use if course.startswith("C"))

In [52]:
students_courses = {
    "Emma": ["Math", "Science"],
    "Liam": ["History", "Art"],
    "Olivia": ["Biology", "Chemistry"]
}

for student, courses in students_courses.items():
    for course in courses:
        if course.startswith('C'):
            print(f'{student} is taking {course}')

Olivia is taking Chemistry

2. Find the Longest Course Name
👉 Loop through all the courses and find the course with the longest name (most letters).

(Hint: You'll need to keep track of the current "longest course" while looping.)

In [60]:
students_courses = {
    "Emma": ["Math", "Science"],
    "Liam": ["History", "Art"],
    "Olivia": ["Biology", "Chemistry"]
}

longest_course = ""

for student, courses in students_courses.items():
    for course in courses:
        if  len(course) > len(longest_course):
            longest_course = course
print(longest_course)

Chemistry

In [ ]:
# find the shortest course

students_courses = {
    "Emma": ["Math", "Science"],
    "Liam": ["History", "Art"],
    "Olivia": ["Biology", "Chemistry"]
}

# shortest_course = '' this will always be the shortest course

shortest_course = None #or choose a random course here

for student, courses in students_courses.items():
    for course in courses:
        if shortest_course is None  or len(course) < len(shortest_course):
            shortest_course = course
print(shortest_course)

Art