Filter what jobs to apply for based on a list of skills

In [4]:
my_skills = ['Python', 'SQL', 'Excel']

In [6]:
# Define data science job roles and required skills
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]

In [23]:
qualified_roles = []
for job in job_roles:
    qualified = True
    for skill in my_skills:
        if skill not in job['skills']:
            qualified = False
            break
    if qualified:
        qualified_roles.append(job['role'])
qualified_roles

['Data Analyst', 'Business Intelligence Analyst']

In [25]:
# Written more succintly using 'ALL' function

qualified_roles = []

for job in job_roles:
    #Check if all required skills are in my_skills
    if all(skill in job['skills'] for skill in my_skills):
        #Add the job role to the qualified_roles list
        qualified_roles.append(job['role'])
qualified_roles

['Data Analyst', 'Business Intelligence Analyst']

In [27]:
# Written in list comprehension form:

qualified_roles = [job['role'] for job in job_roles if all(skill in job['skills'] for skill in my_skills)]
qualified_roles

['Data Analyst', 'Business Intelligence Analyst']

#### List comprehension practice

Create a list comprehension that converts a list of salaries from USD to EUR using a conversion rate of 0.85. With the list of salaries being: salaries_usd = [100000, 120000, 80000, 90000].

In [29]:
salaries_usd = [100000, 120000, 80000, 90000]

salary_eur = [salary*0.85 for salary in salaries_usd]
salary_eur

[85000.0, 102000.0, 68000.0, 76500.0]

Create a list of data science job titles that require more than 2 years of experience from the given dictionary. With job_experience set to {'Data Scientist': 3, 'Data Analyst': 1, 'Machine Learning Specialist': 4, 'Data Engineer': 2}.

In [32]:
job_experience = {'Data Scientist': 3, 'Data Analyst': 1, 'Machine Learning Specialist': 4, 'Data Engineer': 2}
roles_2yrs_more_experience = []

for role, experience in job_experience.items():
    if experience > 2:
        roles_2yrs_more_experience.append(role)
roles_2yrs_more_experience

['Data Scientist', 'Machine Learning Specialist']

In [34]:
roles_2yrs_more_experience = [role for roles, yrs_experience in job_experience.items() if yrs_experience > 2]
roles_2yrs_more_experience

['Data Engineer', 'Data Engineer']

Create a list comprehension that extracts job titles with salaries greater than 90,000 from a given list of dictionaries containing job titles and salaries. The dictionary is job_salary_dicts named and it is set to [{'job_title': 'Data Scientist', 'salary': 100000}, {'job_title': 'Data Analyst', 'salary': 120000}, {'job_title': 'Data Engineer', 'salary': 80000}, {'job_title': 'Machine Learning Engineer', 'salary': 90000}].

In [38]:
job_salary_dicts = [  
    {'job_title': 'Data Scientist', 'salary': 100000},
    {'job_title': 'Data Analyst', 'salary': 120000},
    {'job_title': 'Data Engineer', 'salary': 80000},
    {'job_title': 'Machine Learning Engineer', 'salary': 90000}
]

high_salary = []

for job in job_salary_dicts:

    if job['salary'] > 90000:
         high_salary.append(job['job_title'])
high_salary

['Data Scientist', 'Data Analyst']

In [42]:
high_salary = [job['job_title'] for job in job_salary_dicts if job['salary'] > 90000]
high_salary

['Data Scientist', 'Data Analyst']

#### Extra practice

1. Filter High Grades

students = [
    {"name": "Alice", "grade": 85},
    {"name": "Bob", "grade": 72},
    {"name": "Charlie", "grade": 90},
    {"name": "Diana", "grade": 67}
]</br>
ðŸ‘‰ Create a list of student names who scored 80 or above.

(Hint: use student['grade'] in your condition)

In [43]:
students = [
    {"name": "Alice", "grade": 85},
    {"name": "Bob", "grade": 72},
    {"name": "Charlie", "grade": 90},
    {"name": "Diana", "grade": 67}
]

high_scorer = [student['name'] for student in students  if student['grade'] >= 80]
high_scorer

['Alice', 'Charlie']

2. Get Short Product Names

products = [
    {"name": "Keyboard", "price": 50},
    {"name": "Mouse", "price": 25},
    {"name": "Monitor", "price": 200},
    {"name": "USB Cable", "price": 10}
]</br>
ðŸ‘‰ Create a list of product names that are shorter than 7 characters long.

In [44]:
products = [
    {"name": "Keyboard", "price": 50},
    {"name": "Mouse", "price": 25},
    {"name": "Monitor", "price": 200},
    {"name": "USB Cable", "price": 10}
]

short_product_name = [product['name'] for product in products if len(product['name']) < 7]
short_product_name

['Mouse']

3. Books Over 300 Pages

books = [
    {"title": "Python Basics", "pages": 250},
    {"title": "Advanced Python", "pages": 350},
    {"title": "Data Science Handbook", "pages": 500}
]</br>
ðŸ‘‰ Create a list of titles of books with more than 300 pages.

In [45]:
books = [
    {"title": "Python Basics", "pages": 250},
    {"title": "Advanced Python", "pages": 350},
    {"title": "Data Science Handbook", "pages": 500}
]

long_books = [book['title'] for book in books if book['pages'] > 300]
long_books

['Advanced Python', 'Data Science Handbook']

4. Employees with 'Manager' in Title

employees = [
    {"name": "Emily", "position": "Product Manager"},
    {"name": "Tom", "position": "Engineer"},
    {"name": "Anna", "position": "Marketing Manager"}
]</br>
ðŸ‘‰ Create a list of employee names where their position includes the word "Manager".

In [49]:
employees = [
    {"name": "Emily", "position": "Product Manager"},
    {"name": "Tom", "position": "Engineer"},
    {"name": "Anna", "position": "Marketing Manager"}
]


'''manager_roles = []
for employee in employees:
    if 'Manager' in employee['position']:
        manager_roles.append(employee['name'])
manager_roles'''

manager_title = [employee['name'] for employee in employees if 'Manager' in employee['position'] ]
manager_title

['Emily', 'Anna']

5. Cities with Population over 1M

cities = [
    {"city": "New York", "population": 8419600},
    {"city": "Austin", "population": 964254},
    {"city": "San Francisco", "population": 873965}
]

ðŸ‘‰ Get a list of city names with a population over 1,000,000.

In [51]:
cities = [
    {"city": "New York", "population": 8419600},
    {"city": "Austin", "population": 964254},
    {"city": "San Francisco", "population": 873965}
]

'''big_cities = []
for city in cities:
    if city['population'] > 1_000_000:
        big_cities.append(city['city'])
big_cities'''

big_cities = [ city['city'] for city in cities if city['population'] > 1_000_000]
big_cities

['New York']

#### Multiple conditions

1. Filter Expensive + In-Stock Products

products = [
    {"name": "Laptop", "price": 1200, "in_stock": True},
    {"name": "Tablet", "price": 300, "in_stock": False},
    {"name": "Monitor", "price": 150, "in_stock": True},
    {"name": "Phone", "price": 900, "in_stock": True}
]

ðŸ‘‰ Create a list of product names that cost more than $500 and are in stock.

In [54]:
products = [
    {"name": "Laptop", "price": 1200, "in_stock": True},
    {"name": "Tablet", "price": 300, "in_stock": False},
    {"name": "Monitor", "price": 150, "in_stock": True},
    {"name": "Phone", "price": 900, "in_stock": True}
]

'''instock_expensive = []

for product in products:
    if product['in_stock'] is True:
        if product['price'] > 500:
            instock_expensive.append(product['name'])
instock_expensive'''

in_stock_expensive = [product['name'] for product in products if product['in_stock'] is True and product['price'] > 500]
in_stock_expensive

['Laptop', 'Phone']

2. Top Students in Math

grades = [
    {"name": "Alice", "subject": "Math", "grade": 95},
    {"name": "Bob", "subject": "Science", "grade": 91},
    {"name": "Charlie", "subject": "Math", "grade": 82},
    {"name": "Diana", "subject": "Math", "grade": 89}
]

ðŸ‘‰ Create a list of names of students who are in Math and have a grade above 90.

In [55]:
grades = [
    {"name": "Alice", "subject": "Math", "grade": 95},
    {"name": "Bob", "subject": "Science", "grade": 91},
    {"name": "Charlie", "subject": "Math", "grade": 82},
    {"name": "Diana", "subject": "Math", "grade": 89}
]

top_students_math = [student['name'] for student in grades if 'Math' in student['subject'] and student['grade'] > 90]
top_students_math

['Alice']

3. Cities Starting with â€˜Sâ€™ and Over 500K People

cities = [
    {"city": "Seattle", "population": 733000},
    {"city": "San Jose", "population": 1035000},
    {"city": "Denver", "population": 711000},
    {"city": "San Diego", "population": 1406000}
]

ðŸ‘‰ Create a list of city names that start with the letter "S" and have a population over 500,000.

In [56]:
cities = [
    {"city": "Seattle", "population": 733000},
    {"city": "San Jose", "population": 1035000},
    {"city": "Denver", "population": 711000},
    {"city": "San Diego", "population": 1406000}
]

s_city_over_500k = [ city['city'] for city in cities if city['city'].startswith('S') and city['population'] > 500_000]
s_city_over_500k

['Seattle', 'San Jose', 'San Diego']