### Lamba Functions (Anonymous functions)



* `lambda` functions are small, anonymous functions.
* They can have any number of arguments but only one expression.
* The expression is evaluated and returned.
* It has the syntax of: `lambda arguments: expression`.
* Why would you use this?
    * Concise, it lets you write functions in a single line of code.
    * Since its anonymous it doesn't require a separate name like regular functions are defined using `def` keyword (it's good for when you need a function temporarily).


#### Importance

Offers a succinct way to define anonymous functions. Useful in pandas for applying quick transformations to data.

lambda x: x + 1 </br>
lambda arguments: expression

In [2]:
mul_two = lambda x: x*2

In [3]:
mul_two(3)

6

In [4]:
(lambda x: x*2)(3)

6

In [5]:
(lambda x, y: x*2 + y)(3, 4)

10

In [7]:
salary_list = [100000, 200000, 150000, 120000, 80000, 75000]

def calculate_salary(base_salary, bonus_rate=.1):

    total_salary = base_salary * (1 + bonus_rate)
    
    return total_salary

total_salary_list = [calculate_salary(salary) for salary in salary_list ]
total_salary_list

[110000.00000000001, 220000.00000000003, 165000.0, 132000.0, 88000.0, 82500.0]

In [ ]:
# syntax using lambda (for demonstration only, not necessarily the best way of doing this)
total_salary_list_lmbd = [(lambda x: x*1.1)(salary) for salary in salary_list]

In [11]:
total_salary_list_lmbd

[110000.00000000001, 220000.00000000003, 165000.0, 132000.0, 88000.0, 82500.0]

#### Data filtering example

Find jobs that have Python and that are remote

In [12]:
jobs_data = [
    {'job_title': 'Data Scientist',  'job_skills': ['Python', 'Machine Learning'], 'remote': True},
    {'job_title': 'Data Analyst',  'job_skills': ['Excel', 'SQL'], 'remote': False},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'Keras'], 'remote': True},
    {'job_title': 'Software Developer', 'job_skills': ['Java', 'C++'], 'remote': True},
    {'job_title': 'Data Scientist', 'job_skills': ['R', 'Statistics'], 'remote': False}
]

In [ ]:
# find out the remote jobs
list(filter(lambda job: job['remote'], jobs_data))

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Machine Learning'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Keras'],
  'remote': True},
 {'job_title': 'Software Developer',
  'job_skills': ['Java', 'C++'],
  'remote': True}]

In [16]:
list(filter(lambda job: job['remote'] and 'Python' in job['job_skills'] , jobs_data))

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Machine Learning'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Keras'],
  'remote': True}]

### Practice

Create a lambda function to calculate the average salary from a list of salaries. With salaries set as [95000, 120000, 105000, 90000, 130000].

In [17]:
salaries = [95000, 120000, 105000, 90000, 130000]

def calc_average_salary(salaries):
    avg_salary = sum(salaries) / len(salaries)
    return avg_salary

In [18]:
calc_average_salary(salaries)

108000.0

In [22]:
avg_salary_lmbd = lambda salary_list: sum(salary_list)/len(salary_list)

In [23]:
avg_salary_lmbd(salaries)

108000.0

Create a lambda function to check if a job title contains the word 'Data' and use it to filter a list of job titles. With job_titles set to ['Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'Data Analyst'].

In [1]:
job_titles = ['Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'Data Analyst']

def filter_data_jobs(job_titles):
    data_jobs = []
    for job in job_titles:
        if 'Data' in job:
            data_jobs.append(job)
    return data_jobs

In [3]:
filter_data_jobs(job_titles)

['Data Scientist', 'Data Engineer', 'Data Analyst']

In [4]:
def filter_data_jobs(job_titles):
    data_jobs = [job for job in job_titles if 'Data' in job]
    return data_jobs

In [5]:
filter_data_jobs(job_titles)

['Data Scientist', 'Data Engineer', 'Data Analyst']

In [12]:
data_jobs_lmbd = lambda job: 'Data' in job

In [16]:
filtered_titles = list(filter(data_jobs_lmbd, job_titles))
filtered_titles

['Data Scientist', 'Data Engineer', 'Data Analyst']

Create a lambda function to filter remote job postings that require Python skills from a list of job postings. The list for the variable job_postings is shown below.

In [17]:
job_postings = [
    {'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True},
    {'title': 'Data Analyst', 'skills': ['Excel', 'SQL'], 'remote': False},
    {'title': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow'], 'remote': True},
    {'title': 'Software Developer', 'skills': ['Java', 'C++'], 'remote': True}
]

Python_remote_jobs = list(filter(lambda job: job['remote'] and 'Python' in job['skills'], job_postings))

In [18]:
Python_remote_jobs

[{'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True},
 {'title': 'Machine Learning Engineer',
  'skills': ['Python', 'TensorFlow'],
  'remote': True}]