## Arithmetic Operators
- to do maths

In [31]:
2 + 3.0

5.0

In [1]:
5 - 2

3

In [2]:
5 / 2

2.5

In [3]:
5 // 2

2

In [4]:
5 % 2

1

##### Order of Operations
1. Parenthesis (everything in parenthesis is executed first)
2. Exponents
3. Multiplication and Division
4. Addition and substraction

In [5]:
min_salary = 20_000 #_ is ignored by the interpreter, only used to read easily how many zeros
max_salary = 80_000

In [6]:
avg_salary = (min_salary + max_salary) / 2

In [7]:
print(avg_salary)

50000.0

## Assignment Operators
- can combine mathematical operators with the assignment operator (=)

In [8]:
applicant_1 = 'Kelly'
applicant_2 = 'Luke'

In [9]:
#we want to shift the applicants name

# create a temporary variable to hold applicant 1

temp_var = applicant_1

In [10]:
applicant_1 = applicant_2
applicant_2 = temp_var

In [11]:
applicant_1, applicant_2

('Luke', 'Kelly')

In [12]:
# But we can do assignments of multiple variables on the same line
applicant_1 = 'Kelly'
applicant_2 = 'Luke'

In [13]:
applicant_1, applicant_2 = applicant_2, applicant_1

In [14]:
applicant_1, applicant_2

('Luke', 'Kelly')

#### Combining = with math operators

In [15]:
 x = 1

In [16]:
x = x + 1

In [17]:
x

2

In [18]:
#easier:
x = 1

In [19]:
x += 1

In [20]:
x

2

## Comparison Operators

In [21]:
salary_kelly = 60_000
salary_luke = 40_000

In [22]:
salary_kelly == salary_luke

False

In [23]:
salary_kelly != salary_luke

True

In [24]:
salary_kelly > salary_luke

True

In [25]:
1 == 1

True

#### Exercises

In [26]:
#Calculate the total annual salary for a data scientist given the monthly salary. The variable monthly_salary is set to 8000.

monthly_salary = 8000

In [27]:
annual_salary = monthly_salary * 12

In [28]:
print(annual_salary)

96000

In [29]:
#Determine if the average salary of a data analyst is greater than that of a data scientist. The variables avg_salary_analyst and avg_salary_scientist are set to 70000 and 85000 respectively.
avg_salary_analyst = 70_000
avg_salary_scientist = 85_000

In [30]:
avg_salary_analyst > avg_salary_scientist

False

In [32]:
#Calculate the remainder when the total number of job applications (variable total_applications is set to 123) is divided by the number of job openings (variable job_openings is set to 67).
total_applications = 123
job_openings = 67

In [33]:
remainder = total_applications % job_openings
print(remainder)

56

In [34]:
#Increment (or increase) the variable job_postings by 5. The variable job_postings is intially set to 20.
job_postings = 20

In [35]:
job_postings += 5
job_postings

25

In [36]:
# Calculate the average salary from the minimum and maximum salaries. The variables min_salary and max_salary are set to 50000 and 120000 respectively.

min_salary = 50_000
max_salary = 120_000

In [37]:
avg_salary = (min_salary + max_salary) / 2
avg_salary

85000.0