In [2]:
if True:
    print("What's up data nerds")

What's up data nerds

In [3]:
# Filter out applicants for a job based on a skill

#Applicant skill
applicant_skill = 'SQL'

# Skill required for jop posting
job_skill = 'SQL'

In [4]:
if job_skill == applicant_skill:
    print('Skills Match')

Skills Match

In [6]:
applicant_skill = 'SQL'
job_skill = 'Python'
years_experience = 6

if job_skill == applicant_skill:
    print('Skills Match')
elif years_experience >= 5:
    print('Enough Experience; No SQL')

Enough Experience; No SQL

In [7]:
applicant_skill = 'SQL'
job_skill = 'Python'
years_experience = 3

if job_skill == applicant_skill:
    print('Skills Match')
elif years_experience >= 5:
    print('Enough Experience; No SQL')
else:
    print('No skill or experience')

No skill or experience

In [8]:
applicant_skill = 'SQL'
job_skill = 'Python'
years_experience = 3

if job_skill == applicant_skill:
    print('Skills Match')
elif years_experience >= 5:
    print('Enough Experience; No SQL')
elif job_skill == 'Python':
    print('This applicant should know SQL')
else:
    print('No skill or experience')

This applicant should know SQL

In [9]:
# pass - placeholder; maybe you don't kow the value but you need it

applicant_skill = 'SQL'
job_skill = 'Python'
years_experience = 3

if job_skill == applicant_skill:
    print('Skills Match')
elif years_experience >= 5:
    print('Enough Experience; No SQL')
elif job_skill == 'Python':
    pass
else:
    print('No skill or experience')

### Practice

Output someone's skill level based on the number of years someone has been using Python. Use the following criteria:

Less than 2 years is 'Beginner'
2 or more years is 'Intermediate'
Set the variable python_experience to 3 and test this variable in the if statement.

In [11]:
python_experience = 3

if python_experience < 2:
    print("Beginner")
else:
    print("Intermediate")

Intermediate

Output someone's skill level based on the number of data science tools they know. Use the following criteria:

0-1 tools is 'Beginner'
2-4 tools is 'Intermediate'
More than 4 tools is 'Advanced'
The variable tools_known is set to 3 to test with the if statement.

In [12]:
tools_known = 3

if tools_known <= 1:
    skill_level = 'Beginner'
elif tools_known > 1 or tools_known <=4:
    skill_level = 'Intermediate'
else:
    skill_level = 'Advanced'
print(skill_level)

Intermediate

Determine the job_title based on years of job experience and years of SQL experience. The variable job_experience is set to 4 and sql_experience is set to 2. Use the following criteria:

Less than 2 years of job experience:

0 SQL experience → "Associate Analyst" ,</br>
1+ years of SQL experience → "Junior Analyst"</br>
2 to 5 years of job experience:</br>

0 SQL experience → "Associate Analyst"</br>
1 year of SQL experience → "Intermediate Analyst"</br>
2+ years of SQL experience → "Senior Analyst"</br>
More than 5 years of job experience:</br>

0–2 years of SQL experience → "Data Analyst"</br>
3+ years of SQL experience → "Lead Analyst"

In [ ]:
job_experience = 4
sql_experience = 2

if job_experience < 2:
    if sql_experience == 0:
        job_title = 'Associate Analyst'
    elif sql_experience > 1: #here I could have used else
        job_title = 'Junior Analyst'
elif job_experience > 2 or job_experience < 5:
    if sql_experience == 0:
        job_title = 'Associate Analyst'
    elif sql_experience == 1:
        job_title = 'Intermediate Analyst'
    else:
        job_title = 'Senior Analyst'
elif job_experience > 5:
    if sql_experience <= 2:
        job_title = 'Data Analyst'
    else:
        job_title = 'Lead Analyst'

print(job_title)

Senior Analyst