### Lists
- Usage: for a collection of ordered items
- Syntax: [item1, item2...]
- Type of data: Sequence
- Order: Ordered
- Indenxing: Yes (by index)
- Duplicate values: Allowed
- Mutability: Mutable

In [1]:
job_skills = ['sql', 'tableau', 'excel']

In [2]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [3]:
job_skills.append('python')

In [4]:
job_skills

['sql', 'tableau', 'excel', 'python']

In [5]:
job_skills.remove('tableau')

In [7]:
job_skills

['sql', 'excel', 'python']

In [8]:
len(job_skills)

3

In [9]:
# Indexing starts at 0
job_skills[1]

'excel'

In [11]:
# Indexes can be useful to insert items in the list in a specific position - lists are ordered!!!
job_skills.insert(2, 'tableau') #here you put the index you want to add before

In [12]:
job_skills

['sql', 'excel', 'tableau', 'python']

In [13]:
job_skills.pop(2)

'tableau'

In [14]:
job_skills

['sql', 'excel', 'python']

#### Slicing
- Syntax: list[start:end:step]
- start: The starting index (inclusive)
- end: The ending index (exclusive)
- step: steps to take between items

In [15]:
job_skills

['sql', 'excel', 'python']

In [ ]:
# get all items in the list
job_skills[0:3:1]

['sql', 'excel', 'python']

In [ ]:
# for default values ':' can be used
job_skills[:]

['sql', 'excel', 'python']

In [ ]:
# : used for start (as we want items from the beginning of the list until a certain point)
job_skills[:1]

['sql']

In [20]:
# Step - defaults at 1
job_skills[::1]

['sql', 'excel', 'python']

In [21]:
job_skills[::2]

['sql', 'python']

In [22]:
luke_skills = ['python', 'bigquery', 'r']
kelly_skills = ['python', 'sql', 'looker']

In [23]:
all_skills = luke_skills + kelly_skills
print(all_skills)

['python', 'bigquery', 'r', 'python', 'sql', 'looker']

In [24]:
# we want to see every second item in that list
all_skills[::2]

['python', 'r', 'sql']

In [25]:
# we want the last item in the list
all_skills[5:]

['looker']

In [28]:
# that was a lot of work; the indexes are also in reverse but in negative values - so the last item becomes -1
all_skills[-1:]

['looker']

In [29]:
all_skills[-2:]

['sql', 'looker']

#### Unpacking
allows us to extract values from a list into variables or other data structures.

In [30]:
job_skills

['sql', 'excel', 'python']

In [31]:
skill1, skill2, skill3 = job_skills

In [32]:
skill1

'sql'

In [33]:
skill2

'excel'

In [34]:
skill3

'python'

In [36]:
# If I only wanted the first item in the list
skill_concerned, *skill_dont_care = job_skills

In [37]:
skill_concerned

'sql'

In [38]:
skill_dont_care

['excel', 'python']

### Practice

Access the second job title in the list of job titles for data science roles and print it. The variable job_titles is set to ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer'].

Code Needed:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

In [39]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

In [42]:
print(job_titles[1])

Data Analyst

Change the third job title in the list of job titles for data science roles to 'AI Specialist' and print the updated list. The variable job_titles is set to ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer'].

In [43]:
job_titles.remove('Machine Learning Engineer')

In [44]:
job_titles.append('AI Specialist')

In [45]:
print(job_titles)

['Data Scientist', 'Data Analyst', 'AI Specialist']

In [46]:
#Easier: Use list indexing to access the third item in the list and assign a new value to it.

job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles[2] = 'AI Specialist'
print(job_titles)

['Data Scientist', 'Data Analyst', 'AI Specialist']

In [47]:
# practice run

job_titles = ['BIA', 'Data Analyst','Data Engineer']
job_titles[0] = 'Developer'
print(job_titles)

['Developer', 'Data Analyst', 'Data Engineer']

Slice the list of job titles for data science roles to get the first two job titles and print the result. The list is ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Engineer'].

In [48]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Engineer']
print(job_titles[:2])

['Data Scientist', 'Data Analyst']

Add a new job title 'Data Engineer' to the end of the list of job titles for data science roles and print the updated list. The variable job_titles is set to ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer'].

In [49]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

In [50]:
job_titles.append('Data Engineer')
print(job_titles)

['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Engineer']

Insert a new job title 'Business Analyst' at the second position in the list of job titles for data science roles and print the updated list. The variable job_titles is set to ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer'].

In [51]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

In [53]:
job_titles.insert(1,'Business Analyst')
print(job_titles)

['Data Scientist', 'Business Analyst', 'Data Analyst', 'Machine Learning Engineer']