### Sets
Used to efficiently extract unique values
- very similar to lists
- Usage: for unique items
- Syntax: {item1, item2,...}
- Type of data: Set
- Order: Unordered
- Indexing: No
- Duplicate Values: Not Allowed
- Mutability: Mutable

In [1]:
job_skills = {'tableau', 'sql', 'python', 'statistics'}

In [ ]:
job_skills #the order in which the items appear is different than how it was defined; usually alphabetical but don't count on it

{'python', 'sql', 'statistics', 'tableau'}

In [3]:
job_skills[1] #index used to call on specific items in lists but this doesn't work here

TypeError: 'set' object is not subscriptable

In [4]:
job_skills.add('looker')

In [5]:
job_skills

{'looker', 'python', 'sql', 'statistics', 'tableau'}

In [6]:
job_skills.add('sql')

In [7]:
job_skills #sql was already in, even though the code run above, it will only show once

{'looker', 'python', 'sql', 'statistics', 'tableau'}

In [8]:
job_skills.pop('tableau')

TypeError: set.pop() takes no arguments (1 given)

In [ ]:
# because sets are not indexed and unordered we cannot choose a specific value to pop
job_skills.pop() # it will choose one arbitrary value and remove it

'python'

In [10]:
job_skills

{'looker', 'sql', 'statistics', 'tableau'}

In [11]:
# to remove a specific item we have to use remove
job_skills.remove('tableau')

In [12]:
job_skills

{'looker', 'sql', 'statistics'}

In [ ]:
# List with duplicate values
skill_list = ['python', 'sql', 'statistics', 'tableau', 'python', 'sql', 'statistics', 'tableau']

In [14]:
# Sets can be used to extract a list of unique values
set(skill_list)

{'python', 'sql', 'statistics', 'tableau'}

In [15]:
list(set(skill_list)) # we can put them back in a list

['python', 'sql', 'tableau', 'statistics']

#### Practice

Add a new job title 'AI Specialist' to the set of unique job titles and print the updated set. The initial set of unique_job_titles is {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}.

In [16]:
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}

In [17]:
unique_job_titles

{'Data Analyst', 'Data Scientist', 'Machine Learning Engineer'}

In [18]:
unique_job_titles.add('AI Specialist')

In [19]:
unique_job_titles

{'AI Specialist',
 'Data Analyst',
 'Data Scientist',
 'Machine Learning Engineer'}

Remove the job title 'Data Analyst' from the set of unique job titles and print the updated set. The initial set of unique_job_titles is {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}.

In [20]:
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}

In [21]:
unique_job_titles.remove('Data Analyst')
print(unique_job_titles)

{'Data Scientist', 'Machine Learning Engineer'}

Create a set of job locations named job_locations from a list of job locations for data science roles and print the set. The list is ['New York', 'San Francisco', 'New York', 'Austin', 'San Francisco'].

In [22]:
job_locations = ['New York', 'San Francisco', 'New York', 'Austin', 'San Francisco']

In [24]:
unique_job_locations = set(job_locations)
print(unique_job_locations)

{'New York', 'Austin', 'San Francisco'}

Find the union of two sets of job skills and print the result. The first set is {'Python', 'SQL', 'Tableau'} and the second set is {'R', 'SQL', 'Machine Learning'}.

In [25]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      Unlike set.remove(), the discard() method does not raise
 |      an exception when an element is missing from the set.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [26]:
skills_set1 = {'Python', 'SQL', 'Tableau'}
skills_set2 = {'R', 'SQL', 'Machine Learning'}

In [28]:
all_skills = skills_set1.union(skills_set2)
print(all_skills)

{'Tableau', 'Python', 'R', 'Machine Learning', 'SQL'}