### Tuples
Mostly applicable in sofware engineering
- Usage: for fixed data
- Syntax: (item1, item2,...) or item
- Type of data: Sequence
- Order: Ordered
- Indexing: yes(by index)
- Duplicate Values: Allowed
- Mutability: Immutable

In [2]:
lukes_skills = ('python', 'sql', 'statistics', 'tableau')
lukes_skills

('python', 'sql', 'statistics', 'tableau')

In [3]:
lukes_skills[0]

'python'

In [4]:
lukes_skills[0:2]

('python', 'sql')

In [ ]:
lukes_skills.append('r') # tuples cannot be changed

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
new_skills = ('excel', 'power bi')

In [8]:
all_skills = lukes_skills + new_skills

In [9]:
all_skills

('python', 'sql', 'statistics', 'tableau', 'excel', 'power bi')

In [10]:
lukes_skills += new_skills

In [12]:
lukes_skills #this is now a new object

('python', 'sql', 'statistics', 'tableau', 'excel', 'power bi')

##### Range

In [13]:
range(5)

range(0, 5)

In [15]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [16]:
tuple(range(2, 5))

(2, 3, 4)

In [17]:
#useful if we eant to iterate through a set of numbers
tuple(range(1, 101))

(1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100)

In [18]:
tuple(range(1, 101, 2)) #only odd numbers - we get every second number

(1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99)

### Practice

Access the second job role from the tuple job_roles and print it. The job_roles variable is set to ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer').

In [19]:
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Leraning Engineer')

In [20]:
job_roles[1]

'Data Analyst'

Create a new tuple extended_job_roles by adding the job role 'AI Specialist' to the existing tuple job_roles. Print the new tuple. The job_roles is set to job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer').

In [21]:
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')

In [28]:
new_role = ('AI Specialist',)

In [30]:
extended_job_role = job_roles + new_role
print(extended_job_role)

('Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'AI Specialist')

In [27]:
extended_job_role = job_roles + ('AI Specialist',)
extended_job_role

('Data Scientist',
 'Data Analyst',
 'Machine Learning Engineer',
 'AI Specialist')

Remove the job role 'Data Analyst' from the tuple job_roles by converting it to a list and then back to a tuple. Print the updated tuple. The tuple job_roles is set to ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer').

In [31]:
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')

In [36]:
job_roles = list(job_roles)

In [38]:
job_roles.remove('Data Analyst')

In [39]:
job_roles

['Data Scientist', 'Machine Learning Engineer']

In [40]:
job_roles = tuple(job_roles)

In [41]:
job_roles

('Data Scientist', 'Machine Learning Engineer')

Unpack the tuple job_postings into three variables data_scientist_postings, data_analyst_postings, and ml_engineer_postings. Print each variable. The variable job_postings is set to (120, 80, 50).

In [42]:
job_postings = (120, 80, 50)

In [43]:
(data_scientist_postings, data_analyst_postings, ml_engineer_postings) = job_postings
print(data_analyst_postings)
print(data_scientist_postings)
print(ml_engineer_postings)

80
120
50

Extract and print the number of postings for 'Machine Learning Engineer' from the nested tuple job_details. The job_details is set to (('Data Scientist', 120), ('Data Analyst', 80), ('Machine Learning Engineer', 50)).

In [44]:
job_details = (('Data Scientist', 120), ('Data Analyst', 80), ('Machine Learning Engineer', 50))

In [52]:
ML_Engineer = job_details[2]

In [53]:
ML_Engineer

('Machine Learning Engineer', 50)

In [54]:
postings = ML_Engineer[1]

In [55]:
print(postings)

50

In [57]:
# Better way of doing it
job_details[2][1]

50